body {
    background-color: aqua;
    text-align: center;
    padding-top:20px;
}

h1 {
    color:gold;
}

.omg {
    padding-top: 30px;
}

#btn {
    width: 500px;
    height: 70px;
    background-color:gold;
}

